html {
    background-color: black;
    color:darkseagreen;
    font-family: verdana;
}   
h1 {
    color:lightcoral;
    margin-bottom: 20px;
    text-decoration: underline
    text-align; center
}
img {
    width: 100px;
    height: 200px;
    border-radius: 30%;
    border: 3px solid lightcoral
    align-content: center;
}
h5 {
    color: lightcoral;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}
a:hover {
    color: lightcoral;
}
